.container {
    display: grid;
    grid-gap: 20px;
    height: 100vh;
    grid-template-columns: 100px 200px auto auto;
}

.grid-item {
    background-color: rgb(74, 173, 228);
}

.grid-item:nth-of-type(2) {
  grid-row: span 2;
}

.grid-item:nth-of-type(6) {
  grid-column-start : 3;
  grid-column-end : span 2;
}
