.container {
    display: grid;
    height: 100vh;
    grid-template-columns:
        [left-navbar-start] 20%
        [left-navbar-end content-start] 60%
        [content-end right-sidebar-start] 20%
        [right-sidebar-end];
    grid-template-rows:
        [body-start] 80%
        [body-end footer-start] 20%
        [footer-end];
}

.container > div {
    background-color: rgb(93, 198, 154);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(135, 135, 135);
    box-sizing: border-box;
}

.footer {
    grid-column: content-start / right-sidebar-end;
}

.left-navbar {
    grid-row: body-start / footer-end;
}
